{% extends "base.html" %}
{% load static %}
{% block title %}Cursos | Devilearn{% endblock %}
{% block content %}
<div class="carousel-wrapper">
  <div style="margin-top: 2.5rem">
  <div class="course-grid">
    {% for course in courses %}
      <div class="course-card">
        <a href="{% url 'course_detail' pk=course.id %}">
          <img src="{% static course.image %}" alt="Course Image" class="course-img" />
          <div class="course-info">
            <div class="course-rating">
              <span class="tag beginner">{{ course.level }}</span>
              <div class="course-meta">
                <span><i class="fa-solid fa-star"></i> {{ course.rating }}</span>
              </div>
            </div>
            <h3 class="course-title">{{ course.course_title }}</h3>
            <div class="author">
              <img src="{{ course.avatar }}" alt="" />
              <span>{{ course.instructor }}</span>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
  </div>
{% endblock %}
