{% extends "base.html" %}
{% load static %}
{% block title %}Detalhes do Curso | Devilearn{% endblock %}
{% block content %}
<div class="course-layout">
  <div class="course-sections">
    <h2>Contenido del curso</h2>
    <div class="accordion">
      {% for section in course.course_content %}
      <div class="accordion-item">
        <button class="accordion-header">Sección {{ section.id }}: {{ section.name }}</button>
        <div class="accordion-content">
          <ul>
            {% for l in section.lessons %}
              <li>{{ l.name }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="course-info-card">
    <div class="card-banner">
      <div class="tag">{devilearn}</div>
  <img src="{% static course.course_image %}" alt="{{ course.course_title }}" />
    </div>
    <div class="card-body">
      <h3>{{ course.course_title }}</h3>
      <ul class="course-details">
        <li><i class="fa-solid fa-file"></i> {{ course.info_course.lessons }} lecciones</li>
        <li><i class="fa-solid fa-video"></i> {{ course.info_course.duration }} horas de contenido en video</li>
        <li><i class="fa-solid fa-graduation-cap"></i> {{ course.info_course.instructor }}</li>
      </ul>
  <a class="btn bnt-primary btn-course" href="{% url 'course_lessons' pk=pk %}">Continuar aprendiendo</a>
    </div>
  </div>
</div>
{% endblock %}
