{% extends "base.html" %}
{% block title %}Detalhes do Curso | Devilearn{% endblock %}
{% block content %}
<div class="course-layout">
  <div class="course-sections">
    <h2>Contenido del curso</h2>
    <div class="accordion">
      <div class="accordion-item">
        <button class="accordion-header">Sección 1: Introducción al curso</button>
        <div class="accordion-content">
          <ul>
            <li><i class="fa-solid fa-video"></i>¿Qué aprenderás en este curso?</li>
            <li><i class="fa-solid fa-file"></i>Cómo usar la plataforma</li>
          </ul>
        </div>
      </div>
      <div class="accordion-item">
        <button class="accordion-header">Sección 2: Fundamentos necesarios de Python</button>
        <div class="accordion-content">
          <ul>
            <li>Variables y tipos de datos</li>
            <li>Condicionales y bucles</li>
            <li>Funciones básicas</li>
          </ul>
        </div>
      </div>
      <div class="accordion-item">
        <button class="accordion-header">Sección 3: Introducción a Django</button>
        <div class="accordion-content">
          <ul>
            <li>¿Qué es Django?</li>
            <li>Primer projeto com Django</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="course-info-card">
    <div class="card-banner">
      <div class="tag">{devilearn}</div>
      <img src="https://placehold.co/600x200/1e1e1e/ffffff?text=django" alt="Curso Django" />
      <img class="author-avatar" src="https://avatars.githubusercontent.com/u/47492627?v=4" alt="Autor" />
    </div>
    <div class="card-body">
      <h3>Acerca de este curso</h3>
      <ul class="course-details">
        <li><i class="fa-solid fa-file"></i> 79 lecciones</li>
        <li><i class="fa-solid fa-video"></i> 8 horas de contenido en video</li>
        <li><i class="fa-solid fa-graduation-cap"></i> Ricardo Cuéllar</li>
      </ul>
  <a class="btn bnt-primary btn-course" href="{% url 'course_lessons' pk=pk %}">Continuar aprendiendo</a>
    </div>
  </div>
</div>
{% endblock %}
