{% extends "base.html" %}
{% block content %}
<main>
  <h1>¡Hola, Carlos Felipe Araújo!</h1>
  <p></p>
  <section class="content">
    <div class="cards">
      <a href="">
        <div class="card">
          <h3>Continuar viendo</h3>
        </div>
      </a>
      <a href="">
        <div class="card">
          <h3>Cursos</h3>
        </div>
      </a>
      <a href="">
        <div class="card">
          <h3>Perfil</h3>
        </div>
      </a>
    </div>
  </section>
</main>
{% endblock %}
